.welcome{
    text-align: center;
}

body{
    height: 1000px;
  }

.welcome_footer{
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.logo{
    width: 100%;
    margin-top: 20%;
    width: 85%;
}

.btn{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(10, 10, 75);
    color: white;
    border-radius: 20px;
    margin-top: 10%;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover{
    box-shadow: 0 1px 10px 0.1px rgba(0, 0, 0, 0.375);
    transition: 0.5s;
}

.login_div{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50%;
    padding-top: 15%;
    padding-bottom: 5%;
    background-color: rgba(210, 213, 218, 0.9);
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.signup_div{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    padding-top: 15%;
    padding-bottom: 5%;
    background-color: rgba(210, 213, 218, 0.9);
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.dimg{
    width: 35%;
    position: absolute;
    right: 0px;
    top: 15px;
}

.h1{
    font-family: "Open Sans";
    font-size: 28px;
    margin-top: 15px;
}

.message{
    width: 75%;
}

.image{
    width: 25%;
}

.options{
    background-color: rgba(24, 119, 242, 0.28);
    border-radius: 20px;
    padding: 15%;
    margin: 5px;  
    color: black;
    height: 100px;
}

table{
    margin-top: 20%;
    width: 100%;
}

a{
    text-decoration: none;
}


/*--------------------------------- Reading Section ---------------------------------*/
.back{
    width: 7%;
    position: absolute;
    left: 3%;
    top: 3%;
}

.rh1{
    font-family: "Open Sans";
    font-size: 28px;
    position: absolute;
    left: 30%;
    top: 0.1%;
    z-index: 1;
}

.rec{
    top: 15%;
    position: absolute;
}

.bimg{
    width: 5%;
}

.header{
    align-items: center;
}

.search{
    width: 95%;
    margin-bottom: 10%;
    top: 70px;
    position: absolute;
}

.form-control{
    width: 95%;
    height: 45px;
    font-size: 20px;
    background-color: rgba(24, 119, 242, 0.28);
    border-radius: 20px; 
    font-family:Arial, FontAwesome;
    border: 0px;
}

.readingSection{
    margin-top: 1%;
    width: 95%;
    top: 20%;
    position: absolute;
    padding-left: 5%;
    padding-right: 4%;
}

.footer_b{
    border: 1px solid rgb(255, 255, 255);
    border-top-color:rgba(0, 0, 0, 0.653);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 0 -20px 30px 1px rgb(255, 255, 255);
}

.Rdimg{
    width: 30%;
    position: absolute;
    right: 0px;
    bottom: 28%;
    z-index: 1;
}


.mobile-container {
    max-width: 100%;
    color: white;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ffffff;
    color: black;
  }
  
  .active {
    background-color: #ffffff;
    color: white;
  }

  /*---------------- Reading Section -> top rated section ----------------*/
  .container {
    position: relative;
    text-align: center;
    color: rgb(69, 2, 255);
    z-index: 1;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    z-index: 1;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 1;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    z-index: 1;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .checked {
    color: orange;
  }