.welcome{
    text-align: center;
}

.welcome_footer{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.logo{
    width: 100%;
    margin-top: 20%;
    width: 85%;
}

.btn{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(10, 10, 75);
    color: white;
    border-radius: 20px;
    margin-top: 10%;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover{
    box-shadow: 0 1px 10px 0.1px rgba(0, 0, 0, 0.375);
    transition: 0.5s;
}

.login_div{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50%;
    padding-top: 15%;
    padding-bottom: 5%;
    background-color: rgba(210, 213, 218, 0.9);
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.signup_div{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    padding-top: 15%;
    padding-bottom: 5%;
    background-color: rgba(210, 213, 218, 0.9);
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.dimg{
    width: 35%;
    position: absolute;
    right: 0px;
    top: 15px;
}

.h1{
    font-family: "Open Sans";
    font-size: 28px;
    margin-top: 15px;
}

.message{
    width: 75%;
}

.image{
    width: 25%;
}

.options{
    background-color: rgba(24, 119, 242, 0.28);
    border-radius: 20px;
    padding: 15%;
    margin: 5px;  
    color: black;
    height: 100px;
}

table{
    margin-top: 20%;
    width: 100%;
}

a{
    text-decoration: none;
}

.menu{
    width: 7%;
    position: absolute;
    right: 3%;
    top: 3%;
}

.mimg{
    width: 100%;
}

.back{
    width: 7%;
    position: absolute;
    left: 3%;
    top: 3%;
}

.bimg{
    width: 100%;
}

.header{
    align-items: center;
}