/* Google Font 'Poppins'  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.menu_section{
    display: none;
    overflow-x: hidden;
    background-image: url("../images/bg_2.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .menu_section_y{
    height: 145vh;
  }
  
  .menu_section_d{
    display: grid;
  }
  
  .menu_section .details{
    margin: 10%;
  }
  
  .menu_section .icon{
    position: absolute;
    top: 3%;
    right: 4%;
    z-index: 1;
  }
  
  .menu_options{
    border-radius: 20px;
    padding: 10px;
    text-align: left;
    background-color: #70a05b66;
    margin-top: 15px;
    box-shadow: 0 1px 15px 3px rgba(0, 0, 0, 0.167);
    font-size: 100%;
  }
  
  .ctr{
    display: grid;
    z-index: 1;
  }
  
  .ctr_d{
    display: none;
    z-index: -1;
  }


body {
    width: 100%;
    height: 100vh;
    background-color: #131312;
    font-family: 'Poppins' , sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background-image: url("../images/bg_1.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0.5s;
}
header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu_side, .song_side {
    position: relative;
    width: 25%;
    height: 90%;
    /* border: 1px solid #fff; */
    background-color: #ffffff00;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
}

header .song_side {
    width: 100%;
    background: #ffffff00;
}

header .master_play {
    width: 100%;
    height: 10%;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}

header .menu_side h1 {
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}

header .menu_side .playlist {
    margin:  40px 0px 0px 20px;
}

header .menu_side .playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover {
    color: #fff;
}
header .menu_side .playlist h4 span{
    position: relative;
    margin-right: 35px;
}
header .menu_side .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}
header .menu_side .playlist h4:hover span::before{
    border: 2px solid #fff;
}
header .menu_side .playlist h4 .bi{
    display: none;
}
header .menu_side .playlist .active{
    color: #36e2ec;
}
header .menu_side .playlist .active span{
    display: none;
}
header .menu_side .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}
header .menu_side .menu_song {
    width: 100%;
    height: 300px;
    /* border: 1px solid #fff; */
    margin-top: 40px;
}
header .menu_side .menu_song li{
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}
header .menu_side .menu_song li:hover{
    background: rgb(105, 105, 170,.1);
}
header .menu_side .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}
header .menu_side .menu_song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}
header .menu_side .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
}
header .menu_side .menu_song li h5 .subtitle{
    font-size: 9px;
    color: #4c5262;
}
header .menu_side .menu_song li .bi{
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 16px;
}

header .master_play {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
header .master_play .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
}
header .master_play .wave .wave1{
    width: 3px;
    height: 10px;
    margin-right: 3px ;
    border-radius: 10px 10px 0px 0px ;
    background: #36e2ec;
    animation: unset;
}
header .master_play .wave .wave1:nth-child(2){
    height: 13px;
    /* animation-delay: .4s; */
}
header .master_play .wave .wave1:nth-child(3){
    height: 8px;
    /* animation-delay: .8s; */
}
/* javascript class wave  */
header .master_play .active2 .wave1{
    animation: wave .5s linear infinite;
}
header .master_play .active2 .wave1:nth-child(2){
    animation-delay: .4s;
}
header .master_play .active2 .wave1:nth-child(3){
    animation-delay: .8s;
}

@keyframes wave {
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

/*-------------------------------------pop-up play------------------------------------*/
header .song_side .content .pop_up{
    width: 45px;
    height: 20px;
    background-color: #111727;
    position: absolute;
    bottom: -1px;
    left: 0px;
    z-index: -1;
    color: white;
    border: 2px solid #111727;
    border-radius: 10px 10px 0px 0px;
    transition: 0.5s;
}

header .song_side .content .pop_up:hover{
    cursor: pointer;
    height: 25px;
    transition: 0.2s;
}


header .play_area{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

header .play_area_d{
    display:flex;
}

header .play_area img{
    width: 100%;
    top: 15%;
    position: absolute;
}

header .play_area .play_bar{
    width: 100%;
    bottom: 0px;
    position: absolute;
}

header .play_area .play_bar .play_bar_display{
    width: 100%;
    bottom: 300px;
    left: -4px;
    position: absolute;
}

header .play_area .play_button{
    width: 70%;
    bottom: 200px;
    left: 15%;
    position: absolute;
}

header .play_area .icon .bi{
    font-size: 30px;
    color: #272727;
}

header .play_area .icon .pbi{
    color: #ffffff;
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 100px;
    background-color: #000825;
}

header .play_area .details{
    width: 70%;
    bottom: 85vh;
    left: 7%;
    position: absolute;
}

header .play_area .details h5 {
    font-family: lato;
    font-weight: 400;
    width: 100%;
    font-size: 30px;
    color: #000000;
    line-height: 17px;
}
header .play_area .details h5 .subtitle{
   padding-top: 10px;
   font-size: 14px;
   color: #000000;
}

header .play_area .back{
    width: 4%;
    left: 4%;
    top: 2.7%;
    position: absolute;
}

header .play_area .time {
    color: #000000;
}

header .play_area .play_bar_display .bar {
    height: 4px;
    background: rgba(0, 0, 0, 0.338);
}
header .play_area .play_bar_display .bar .bar2{
   background: #000000;
}
header .play_area .play_bar_display .bar .dot{
   background: #000000;
}
header .play_area .play_bar_display .bar .dot::before{
   border:1px solid #000000;
   box-shadow: inset 0px 0px 3px #000000;
}

header .play_area .footer{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0px;
}
/*-------------------------------------end of pop-up play------------------------------------*/


header .master_play img {
    width: 35px;
    height: 35px;
}
header .master_play h5 {
    width: 100%;
    font-size: 12px;
    color: #fff;
    line-height: 17px;
}
header .master_play h5 .subtitle{
   font-size: 9px;
   color: #4c5262;
}
header .master_play .icon{
   font-size: 20px;
   color: #fff;
   outline: none;
}
header .master_play .icon .bi{
 cursor: pointer;
 outline: none;
}
header .master_play .icon .bi:nth-child(2){
border: 1px solid rgb(105, 105, 170,.1);
border-radius: 50%;
padding: 1px 4px 0px 6px;
margin: 0px 5px;
transition: .3s linear;
}

header .master_play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}
header .master_play #currentStart{
    margin: 0px 0px 0px 00px;
}

header .master_play .bar {
    position: relative;
    width: 90%;
    height: 2px;
    background: rgb(105, 105, 170,.1);
    margin: 0px 15px 0px 10px;
}
header .master_play .bar .bar2{
   position: absolute;
   background: #36e2ec;
   width: 0%;
   height: 100%;
   top: 0;
   transition: 1s linear;
}
header .master_play .bar .dot{
   position: absolute;
   width: 5px;
   height: 5px;
   background: #36e2ec;
   border-radius: 50%;
   left: 0%;
   top: -1px;
   transition: 1s linear;
}
header .master_play .bar .dot::before{
    content: '';
   position: absolute;
   width: 15px;
   height: 15px;
   border:1px solid #36e2ec;
   border-radius: 50%;
   left: -6px;
   top: -6px;
  box-shadow: inset 0px 0px 3px #36e2ec;
}
header .master_play .bar input{
   position: absolute;
   width: 100%;
   top: -6px;
   left: 0;
   cursor: pointer;
   z-index: 99999999;
   transition: 3s linear;
   opacity: 0;
}
header .master_play .vol{
  position: relative;
  width: 80px;
  height: 2px;
  margin-left: 50px;
 background: rgb(105, 105, 170,.1); 
}
header .master_play .vol .bi{
position: absolute;
color: #fff;
font-size: 25px;
top: -17px;
left: -30px;
}
header .master_play .vol input{
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
 }

 header .master_play .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
 }
 header .master_play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
 }
 header .master_play .vol .dot::before{
     content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
   box-shadow: inset 0px 0px 3px #36e2ec;
 }

 header .song_side {
     z-index: 2;
 }
 header .song_side::before{
     content: '';
     position: absolute;
     width: 100%;
     height: 300px;
     background: rgba(255, 255, 255, 0);
     z-index: -1;
 }
 header .song_side .content .search{
    width: 90%;
    margin-top: 20%;
    top: 70px;
    position: absolute;
 }

 header .song_side .content .back{
    position: absolute;
    left: 4%;
    top: 3%;
 }

 header .song_side .content .menu{
    position: absolute;
    right: 4%;
    top: 3%;
 }

 .form-control{
    width: 95%;
    height: 45px;
    font-size: 20px;
    background-color: rgba(24, 119, 242, 0.28);
    border-radius: 20px; 
    font-family:Arial, FontAwesome;
    border: 0px;
}


 header .song_side .content {
    text-align: center;
     width:90%;
     height: 30%;
     margin: auto;
     padding-top: 20px;
 }
 
 header .song_side .content h1{
    text-align: left;
    font-weight: 800;
    color: black;
    font-family: "Open Sans";
    font-size: 28px;
    margin-top: 20%;
 }
 header .song_side .content p{
    font-size: 11px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;
 }
 header .song_side .content .buttons{
    margin-top: 15px;
 }
 header .song_side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    outline: none;
    border-radius: 20px;
    background: #5adae0;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
 }

 header .song_side .popular_song {
     width: 90%;
     height: auto;
     /* border: 1px solid #fff; */
     margin: auto;
     margin-top: 15px;
 }
 header .song_side .popular_song .h4{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 header .song_side .popular_song .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
 }
 header .song_side .popular_song .h4 .bi:hover{
    color: #fff;
 }

 header .song_side .popular_song .pop_song {
     width: 100%;
     height: 150px;
     margin-top: 15px;
     display: flex;
     overflow-x: auto;
     scroll-behavior: smooth;
 }
 header .song_side .popular_song .pop_song::-webkit-scrollbar{
     display: none;
 }
 header .song_side .popular_song .pop_song li{
     min-width: 100px;
     height: 140px;
     list-style-type: none;
     margin-right: 10px;
     transition: .3s linear;
 }
 header .song_side .popular_song .pop_song li:hover{
     background: rgb(105, 105, 170,.1);
 }
 header .song_side .popular_song .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 header .song_side .popular_song .pop_song li .img_play img{
   width: 100%;
   height: 100%;
 }
 header .song_side .popular_song .pop_song li .img_play .bi{
   position: absolute;
   font-size: 20px;
   cursor: pointer;
   transition: .3s linear;
   opacity: 0;
 }
 header .song_side .popular_song .pop_song li .img_play:hover .bi{
   opacity: 1;
 }
 header .song_side .popular_song .pop_song li h5{
   padding: 5px 0px 0px 5px;
   line-height: 15px;
   font-size: 10px;
 }
 header .song_side .popular_song .pop_song li h5 .subtitle{
   font-size: 9px;
   color: #4c5262;
 }
