@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");
    body, html {
      font-family: Red hat Display, sans-serif;
      font-weight: 400;
      line-height: 1.25em;
      letter-spacing: 0.025em;
      color: #333;
      background: #ebebeb;
    }
    button {
        all: unset;
    }
    
    .center {
      position: absolute;
      top: 50%;
      left: calc(50% + 12rem);
      transform: translate(-50%, -50%);
    }
    

.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 365px;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
  }
  .chat .contact.bar {
    /* background-color:#feb100; */
    display: inline-flex;
    align-items: center;
    justify-items: center;
    flex-basis: 3.5rem;
    flex-shrink: 0;
    margin: 1rem;
    box-sizing: border-box;
  }
 
  .pic {
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }

  .chat .contact.bar .pic {
      position: relative;
      left: 0;
    }

  .chat .messages {
    height: inherit;
    padding: 1rem;
    background: #ebebeb;
    flex-shrink: 2;
    overflow-y: auto;
    box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
  }
  .chat .messages .time {
    font-size: 0.8rem;
    background: #EEE;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    color: #999;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  #chat-log .message.message--received {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem 2rem 1rem 1rem;
    background: #347be0;
    color: white;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
  }
  #chat-log .message.message--sent {
    text-align: right;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem 1rem auto;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    /* background: #333; */
    background: #FFF;
    min-height: 2.25rem;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      max-width: 66%;
  }
  .chat .messages .message.message--received .typing {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0rem;
    box-sizing: border-box;
    background: #ccc;
    border-radius: 50%;
  }
  .chat .messages .message .typing.typing-1 {
    -webkit-animation: typing 3s infinite;
            animation: typing 3s infinite;
  }
  .chat .messages .message .typing.typing-2 {
    -webkit-animation: typing 3s 250ms infinite;
            animation: typing 3s 250ms infinite;
  }
  .chat .messages .message .typing.typing-3 {
    -webkit-animation: typing 3s 500ms infinite;
            animation: typing 3s 500ms infinite;
  }
  .chat .input {
    box-sizing: border-box;
    flex-basis:4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
  }
  .chat .input i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #666;
    cursor: pointer;
    transition: color 200ms;
  }
  .chat .input i:hover {
    color: #333;
  }
  .chat .input input {
    border: none;
    background-image: none;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 1.125rem;
    flex-grow: 2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    font-family: Red hat Display, sans-serif;
    font-weight: 400;
    letter-spacing: 0.025em;
  }
  .chat .input input:placeholder {
    color: #999;
  }
  
  @-webkit-keyframes typing {
    0%, 75%, 100% {
      transform: translate(0, 0.25rem) scale(0.9);
      opacity: 0.5;
    }
    25% {
      transform: translate(0, -0.25rem) scale(1);
      opacity: 1;
    }
  }
  
  @keyframes typing {
    0%, 75%, 100% {
      transform: translate(0, 0.25rem) scale(0.9);
      opacity: 0.5;
    }
    25% {
      transform: translate(0, -0.25rem) scale(1);
      opacity: 1;
    }
  }